<h1>Assignment 1: Student Information System</h1>
<p>At the end of the assignment, you should be able to:
    <ol>
        <li>Implement CRUD operations in Rails</li>
        <li>Write ActiveRecord queries</li>
        <li>Use Bootstrap to implement UI</li>
        <li>Write Unit test cases using RSpec</li>
    </ol>
</p>
<p>Building a simple assignemt for Student information table with columns such as ID,Name,Description,Remarks,Grade and Actions.</p>
<p>Below are the UAC</p>
<ul>
    <li>All columns should be editable except the student ID in edit page</li>
    <li>You can delete student details from the table</li>
    <li>Should not allow User with same ID to be created in the table and error message should be populated</li>
    <li>Grade should be Single Value <p>Ex: A should not accept other values, if entered error message should be displayed</p></li>
    <li>Based on grade, a remark should be auto populated <p>Ex: Grade A, remarks should be as Excellent (Excellent Text should be highlighted with Colours)</p></li>
    <li>Every time a new Student is added, message should be populated <p>Ex: New Student Robin has been created</p><p>Similarly, when you delete a student, message should be shown.</p></li>
    <li>Implement multi search option</li>
    <li>Actions column should have only Add and Delete button</li>
    <li>UI expectations: implement Bootstrap data grid, Header & Footer on the page with a title, Navigations</li>
    <li>Rspec test cases needs to be added</li>
</ul>